<div class="layout-header">

	<div class="container">
		<div class="layout-site">
			<a href="<%= themeConfig.domain %>">
				<img class="site-logo" src="<%= themeConfig.domain %>/media/images/site_avatar.png?v=<%= site.utils.now %>" alt="">
			</a>
			<span class="site-description">
				<%- themeConfig.siteDescription %>
			</span>
		</div>

		<div class="layout-trigger">
			<span class="icon">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</span>
		</div>

	</div>

</div>