<meta charset="UTF-8" />
<meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimal-ui" />
<title><%= siteTitle %></title>
<link rel='stylesheet' id='puma-css' href='<%= themeConfig.domain %>/styles/main.css' type='text/css' media='screen' />
<link type="text/css" rel="stylesheet" href="https://cdn.bootcss.com/KaTeX/0.11.1/katex.min.css">
<link type="text/css" rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script type='text/javascript' src='<%= themeConfig.domain %>/media/scripts/jquery.js'></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
